<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Server=.;Database=MySchool;Integrated Security=True;" />
		<add key="BackupFolder" value="C:\MyServices\MyBackupService" />
		<add key="LogFolder" value="C:\MyServices\MyBackupService\Logs" />
		<add key="DataBaseName" value="MySchool" />
		<add key="BackupIntervalMinutes" value="60" />
	</appSettings>
</configuration>